.objects-table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.table {
  overflow-x: auto;
  max-height: 100%;
}

.filter {
  width: 15rem;
}

.table-row:hover {
  cursor: pointer;
}
