.objectsTable {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.table {
  max-height: 100%;
}

.filter {
  width: 15rem;
}

.drawer {
  margin-left: 1rem;
}

.actionKeyContainer {
  display: flex;
  justify-content: space-between;
}
