.actionKeyContainer {
  display: flex;
  justify-content: flex-end;
}

.activityItems {
  overflow: auto;
}

.card {
  border-bottom: 1px solid #dcd6d61f;

  &:first-child {
    border-top: 1px solid #dcd6d61f;
  }
}
