.actionKeyContainer {
  display: flex;
  justify-content: flex-end;
}

.activityItems {
  overflow: auto;
}

.cardContainer {
  border-radius: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
}
